################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Radix.Exemplo/Radix.Exemplo.Services.Model/obj
/.vs/IntegrationServiceSample/v16
/Radix.Exemplo/.vs/Radix.Exemplo/v16/Server/sqlite3
/Radix.Exemplo/Radix.Exemplo.App.Mappers/obj
/Radix.Exemplo/Radix.Exemplo.App.Messages/obj
/Radix.Exemplo/Radix.Exemplo.App.Services/obj
/Radix.Exemplo/Radix.Exemplo.App.Services.Imp/obj
/Radix.Exemplo/Radix.Exemplo.Host.Api/obj
/Radix.Exemplo/Radix.Exemplo.Infra.CrossCutting.DI/obj
/Radix.Exemplo/Radix.Exemplo.Infra.DataAccess/obj
/Radix.Exemplo/Radix.Exemplo.Services/obj
/Radix.Exemplo/Radix.Exemplo.Services.Imp/obj
/.vs
/NerdAllDebug.Sample.App.Mappers/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.App.Mappers/obj
/NerdAllDebug.Sample.App.Messages/bin/Debug
/NerdAllDebug.Sample.App.Messages/obj
/NerdAllDebug.Sample.App.Services/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.App.Services/obj
/NerdAllDebug.Sample.App.Services.Imp/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.App.Services.Imp/obj
/NerdAllDebug.Sample.Host.Api/bin/Debug/netcoreapp3.1
/NerdAllDebug.Sample.Host.Api/obj
/NerdAllDebug.Sample.Infra.CrossCutting.DI/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.Infra.CrossCutting.DI/obj
/NerdAllDebug.Sample.Infra.DataAccess/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.Infra.DataAccess/obj
/NerdAllDebug.Sample.Infra.DataAccess.Oracle/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.Infra.DataAccess.Oracle/obj
/NerdAllDebug.Sample.Services/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.Services/obj
/NerdAllDebug.Sample.Services.Imp/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.Services.Imp/obj
/NerdAllDebug.Sample.Services.Model/bin/Debug/netstandard2.1
/NerdAllDebug.Sample.Services.Model/obj
/NerdAllDebug.Sample.Services.Imp.Test/bin/Debug/netcoreapp3.1
/NerdAllDebug.Sample.Services.Imp.Test/obj
/NerdAllDebug.Sample.Services.Model.Test/bin/Debug/netcoreapp3.1
/NerdAllDebug.Sample.Services.Model.Test/obj
/NerdAllDebug.Sample.App.Mappers/bin/Release/netstandard2.1
/NerdAllDebug.Sample.App.Messages/bin/Release
/NerdAllDebug.Sample.App.Services/bin/Release/netstandard2.1
/NerdAllDebug.Sample.App.Services.Imp/bin/Release/netstandard2.1
/NerdAllDebug.Sample.Host.Api/bin/Release/netcoreapp3.1
/NerdAllDebug.Sample.Infra.CrossCutting.DI/bin/Release/netstandard2.1
/NerdAllDebug.Sample.Infra.DataAccess/bin/Release/netstandard2.1
/NerdAllDebug.Sample.Services.Imp.Test/bin/Release/netcoreapp3.1
/NerdAllDebug.Sample.Services.Imp/bin/Release/netstandard2.1
/NerdAllDebug.Sample.Services/bin/Release/netstandard2.1
/NerdAllDebug.Sample.Infra.DataAccess.Oracle/bin/Release/netstandard2.1
/NerdAllDebug.Sample.Services.Model.Test/bin/Release/netcoreapp3.1
/NerdAllDebug.Sample.Services.Model/bin/Release/netstandard2.1/NerdAllDebug.Sample.Services.Model.deps.json
/NerdAllDebug.Sample.Services.Model/bin/Release/netstandard2.1
/NerdAllDebug.Sample.Host.Client/bin/Release
/NerdAllDebug.Sample.Host.Client/obj
/NerdAllDebug.Sample.Infra.CrossCutting.Options/obj
/NerdAllDebug.Sample.Infra.ServiceProvider/obj
/NerdAllDebug.Sample.Infra.ServiceProvider.Xml/obj
